SECRET_KEY=SecretKeyOfProject
EMAIL_HOST_USER=exmaplemail@gmail.com
EMAIL_HOST_PASSWORD=your-16-char-app-password
DB_NAME=library_db
DB_USER=library_user
DB_PASSWORD=YourDBPassword
DB_HOST=localhost
DB_PORT=5432